body {
    background-color: #000;
    color: white;
    box-sizing: border-box;
    font-family: 'Press Start 2P', cursive;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 60px 0;
}

div {
    width: 100px;
    height: 100px;
    text-align: center;
    
}

div p {
    font-size: 25px;
    vertical-align: center;
}

.row {
    display: flex;
}

#grid {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.one div:first-of-type, .one div:nth-of-type(2), .two div:first-of-type, .two div:nth-of-type(2), .three div:first-of-type, .three div:nth-of-type(2) {
    border-right: 2px solid white;
}

.two div {
    border-top: 2px solid white;
    border-bottom: 2px solid white;
}

footer {
    display: flex;
    justify-content: center;
}

button {
    padding: 20px 40px;
    font-family: 'Press Start 2P';
    border-radius: 10px;
    transition: .8s;
}

button:hover {
    transform: scale(110%);
    background: red;
    color: white;
}





